body {
    background-color: #07040c;
    background-image: url('../resources/world.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
  }

.col-6, .h1, .h4 {
    color: #DCDCDC;
  }

.container-lg, .container-sm {
    background-color: rgba(0, 0, 0, 0.60);
}
